.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient( rgba(172, 0, 230, 0.85), rgba(115, 0, 230, 0.95)), url(../img/back.jpg);
    background-size: cover;
    background-position: 50% 50%;
    font-family: 'Montserrat', sans-serif;
    overflow: hidden;
}

.main {
    position: absolute;
    height: 80%;
    width: 76%;
    left: 12%;
    top: 10%;
    background: #fff;
    box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}

.intro {
    position: relative;
    background: linear-gradient( rgba(92, 0, 230, 0.75), rgba(92, 0, 230, 0.75)), url(../img/profile.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 0% 12%;
}

.intro-label {
    position: absolute;
    font-size: 7vw;
    color: #ffffff; 
    padding-left: 4vw;
    font-weight: 800;
}

@media (max-width: 600px) {
    .intro-label {
        font-size: 16vw;;
    }
}