*,
*::after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

* {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
}

body {
    margin: 0;
}
input {
    font: inherit;
}
input:focus {
    outline: none;
}

h1 {
    font-size: 2em;
    margin: .3em 0;
}


#cover {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background: linear-gradient( rgba(172, 0, 230, 1), rgba(115, 0, 230, 1));
    z-index: 9999;
}

.wrapper {
    position: absolute;
    height: 100%;
    width: 100%;
    background: linear-gradient( rgba(172, 0, 230, 0.85), rgba(115, 0, 230, 0.95)), url(../img/back.jpg);
    background-size: cover;
    background-position: 50% 50%;
    font-family: 'Montserrat', sans-serif;
}

.main {
    position: absolute;
    height: 80%;
    width: 76%;
    left: 12%;
    top: 10%;
    background: #fff;
    -webkit-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.intro {
    position: relative;
    padding: 3vw;
    z-index: 2;
    background: linear-gradient( rgba(92, 0, 230, 0.75), rgba(92, 0, 230, 0.75)), url(../img/profile.jpg);
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: 0% 12%;
    transition: width 1s;

}

.clicked {
    width: 50%;
}

.intro-label {
    position: relative;
    font-size: 7vw;
    line-height: 14.5vh;
    color: #ffffff;
    font-weight: 800;
}

.intro-text {
    color: #ffffff;
    font-size: 1.5vw;
    font-weight: 500;
}

@media (max-width: 600px) {
    .main {
        width: 86%;
        left: 7%;
    }
    .intro-label {
        font-size: 16vw;
        line-height: 12vh;
    }
    .intro-text {
        font-size: 4vw;
    }
    .intro {
        padding: 4vw;
        padding-top: 1vh;
    }
}

.social {
    position: absolute;
    bottom: 6vh;
    display: inline-block;
}

.icon {
    margin: 10vw;
    position: relative;
    float: left;
    line-height: 5vh;
    text-align: center;
    color: white;
    font-family: 'FontAwesome';
    font-size: 2.5vh;
    text-align: center;
}

.eclipse {
    cursor: pointer;
    width: 5vh;
    height: 5vh;
    margin: 8.5px;
    border-radius: 50px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 1s cubic-bezier(.25, .8, .25, 1);
}

.eclipse:hover {
    box-shadow: 4px 14px 28px rgba(0, 0, 0, 0.25), 1px 10px 10px rgba(0, 0, 0, 0.22);
}

.facebook {
    background-color: #2850ad;
}

.link {
    background-color: #6200EA;
}

.git {
    background-color: #000000;
}

.linkedin {
    background-color: #3a9bdc;
}

.codepen {
    background-color: #222;
}

.fa {
    position: absolute;
    padding: 1px;
    top: 4vh;
    right: 4vw;
    color: #dd99ff;
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}

.fa:hover {
    color: #ffffff;
    cursor: pointer;
}

@media (max-width: 600px) {
    .fa {
        visibility: hidden;
        display: none;
    }
}

.terminal {
    z-index: 1;
    overflow: auto;
    position: absolute;
    display: inline;
    float: right;
    top: 0;
    right: 0;
    height: 100%;
    width: 50%;
    padding: 2%;
    background: #efccff;
    color: rgba(0, 0, 0, 0.6);
}

.terminal-input {
    display: inline;
    border: none;
    color: rgba(0, 0, 0, 0.6);
    background: #efccff;
}