@import url("https://fonts.googleapis.com/css2?family=Crimson+Text:wght@400;700&family=Playfair+Display:wght@700&display=swap");

$section-bg: #fdf8f4;
$logo-bg: #809cfe;
$shadow-bg: #dfdfdf;
$text-color: #000b38;
$backdrop-bg: #fcf0e6;

@mixin flex($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

@mixin profile-img {
  width: 320px;
  height: 380px;
  border-radius: 4px;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  height: 100vh;
  padding: 24px;
  font-family: "Crimson Text", serif;
  color: $text-color;
  font-size: 24px;
  line-height: 33px;
}

main {
  height: 100%;
  background-color: $section-bg;
}

section {
  height: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: fit-content;
  padding: 4px 8px;
  background-color: $logo-bg;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  height: 54px;
  box-shadow: 2px 4px 4px $shadow-bg;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
  padding-top: 40px;
}

.about {
  &__content {
    h1 {
      font-family: "Playfair Display", serif;
      font-size: 100px;
      line-height: 133px;
      margin: 5px 0;
    }
  }

  &__social {
    & > ul {
      @include flex(flex-start);
      list-style: none;
      padding: 0;
    }
  }

  &__social-item {
    @include flex;
    width: 40px;
    height: 40px;
    margin-right: 20px;
    border-radius: 50%;
    padding: 8px;
    filter: invert(8%) sepia(65%) saturate(2970%) hue-rotate(217deg)
      brightness(81%) contrast(112%);

    &:hover {
      border: 1px solid $text-color;
    }

    & > img {
      width: 100%;
      height: auto;
    }
  }

  &__resume {
    margin-top: 35px;

    & > button {
      cursor: pointer;
      background: none;
      border: 2px solid $text-color;
      border-radius: 25px;
      padding: 10px 24px;
    }
  }
}

.profile {
  position: relative;
  justify-self: center;
  padding-top: 80px;
  padding-left: 40px;

  &__img {
    @include profile-img;
    background-image: url("../img/profile-glitch.jpg");
    background-size: cover;
    background-position: 70% 0;
    position: relative;
    z-index: 1;
    transition: background-image 0.5s ease-in-out;

    &:hover {
      background-image: url("../img/profile.jpg");
    }
  }

  &__backdrop {
    @include profile-img;
    background: $backdrop-bg;
    position: absolute;
    top: 113px;
    left: 7px;
    z-index: 0;
  }
}
